<h1>Products List</h1>
<h3><a href="{% url 'createProduct'%}">Add Products</a></h3>
<table>
    <tr>
        <th>Items</th>
        <th>Price</th>
        <th>image</th>
    </tr>
    {% for product in productsObject%}
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><img src = "{{product.photo.url}}"></td>
        <td><a href = "/details/{{product.id}}/">View</a></td>
        <td><a href = "/updateProduct/{{product.id}}/">Edit</a></td>
        <td><a href = "/deleteProduct/{{product.id}}/">Delete</a></td>
    </tr>
    {% endfor %}
</table>