{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href = "{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<h1>Products List</h1>
<h3><a href="{% url 'createProduct'%}">Add Products</a></h3>


<form method='GET'>
    <input type='text', name='search-area' value = {{search_input}}>
    <input type='submit' value='Search'>
</form>


<table>
    <tr>
        <th>Items</th>
        <th>Price</th>
        <th>image</th>
    </tr>
    {% for product in productsObject%}
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><img src = "{{product.photo.url}}"></td>
        <td><a href = "/details/{{product.id}}/">View</a></td>
        <td><a href = "/updateProduct/{{product.id}}/">Edit</a></td>
        <td><a href = "/deleteProduct/{{product.id}}/">Delete</a></td>
    </tr>
    {% endfor %}
</table>